@media screen and (max-width: 768px) and (min-width: 425px) {
  .login-page {
    height: 2000px;
    width: 100%;
  }

  .login-box {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 85%;
    border-radius: .5em;
  }

  .main-area {
    display: block;
  }

  .view-trips {
    flex-wrap: wrap;
    margin: 0 1em;
  }

  .trip-card {
    height: 25vh;
    width: 25vw;
    display: grid;
    grid-template-rows: 13vh 1fr;
    justify-content: center;
    margin: .3em;
    font-size: 6vh;
  }

  .trips-title {
    display: none;
  }

  .submit-button {
    height: 8vh;
    width: 15vw;
  }

  .total-spent {
    margin-left: 25%;
  }
}

@media screen and (max-width: 425px) {
  .login-page {
    height: 1000px;
    width: 100%;
  }

  .login-box {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 30%;
    width: 85%;
    border-radius: .5em;
  }

  .main-area {
    width: 100%;
    display: block;
  }

  .trip-request {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .view-trips {
    flex-wrap: wrap;
    margin: .5em;
  }

  .form-label {
    font-size: 5vh;
    margin: 1.5em;
  }

  .drpdown-options {
    height: 6vh;
    width: 10vw;
    margin-left: 2em;
  }

  .options {
    height: 4vh;
    width: 10vw;
    margin: 1em 6em;
  }

  .dest-options {
    height: 6vh;
    width: 20vw;
    margin: 1em 1.5em;
  }

  .submit-button {
    background-color: $tan;
    height: 4vh;
    width: 12vw;
    grid-row: 6;
    margin: 1em 3em;
    border-radius: .6em;
    border-width: 0;
  }

  .trip-card {
    height: 40vh;
    width: 35vw;
    display: grid;
    grid-template-rows: 13vh 1fr;
    justify-content: center;
    margin: .3em;
    font-size: 6vh;
  }

  .trips-title {
    display: none;
  }

  .submit-button {
    height: 8vh;
    width: 15vw;
  }

  .total-spent {
    margin-left: 25%;
  }
}
