/* ****** TRIPS DISPLAY ****** */

.main-area {
  display: grid;
  grid-template-rows: 25% 1fr 1fr 1fr 1fr 15%;
  grid-template-columns: 8% 1fr 10%;
  grid-gap: .5em;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.total-spent {
  font-size: 4vh;
  grid-column: 2 / span 3;
  grid-row: 1;
}

.view-trips {
  display: inline-flex;
  flex-wrap: wrap;
  margin: 0 1em;
}

.current,
.current-trip {
  grid-column: 2 / span 3;
  grid-row: 2;
  flex-wrap: wrap;
}

.past,
.past-trips {
  grid-column: 2 / span 3;
  grid-row: 3;
  flex-wrap: wrap;
}

.upcoming,
.upcoming-trips {
  grid-column: 2 / span 3;
  grid-row: 4;
  flex-wrap: wrap;
}

.pending,
.pending-trips {
  grid-column: 2 / span 3;
  grid-row: 5;
  flex-wrap: wrap;
}

.trips-title {
  height: 1.5vh;
  width: 1.5vw;
  grid-column: 1;
  margin-left: 1em;
  font-size: 2.5vh
}

  /* ****** TRAVELER CARD ****** */
.trip-card {
  color: black;
  background-color: #FFFFFF;
  border: 2px solid black;
  height: 22vh;
  width: 14vw;
  display: grid;
  grid-template-rows: 13vh 1fr;
  justify-content: center;
  margin: .3em;
}

.destination-image {
  height: 13vh;
  width: 100%;
  grid-row: 1;
  object-fit: fill;
}

.card-body {
  grid-row: 2;
  margin: .3em;
}

.destination-name {
  font-size: 2vh;
}

.trip-desc {
  font-size: 1.2vh;
  margin: .2em;
}
