@import "tripsDisplay";
@import "login";
@import "variables";
@import "reset";

body {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-columns: repeat(6, 1fr);
  font-family: 'Goudy Bookletter 1911', serif;
}

/* ****** NAV BAR AREA ****** */

.main-nav {
  background-image: linear-gradient(#486173, #418291);
  grid-column: 1 / span 6;
  grid-row: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.airplane-icon {
  height: 5vh;
  width: 4vw;
  margin: 1em .5em 1em 2em;
}

.plane-ticket {
  height: 5vh;
  width: 4vw;
  margin: 1em 2em 1em .5em;
}

.book-trip {
  font-size: 2vh;
}

.travel-agency {
  font-size: 2.5vh;
}

.greeting{
  display: block;
  margin: 1em 10em;
}

.welcome {
  font-size: 3vh;
}

.traveler-name {
  font-size: 4vh;
  margin-left: 20%;
}

/* ****** ASIDE ****** */

.trip-request-aside {
  background-image: linear-gradient(to bottom right, #561F37, #4E2C2D, #453823);
  grid-row: 2;
  font-size: 2.5vh;

}

.trip-request {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.form-label {
  font-size: 2.3vh;
  margin: 1em;
}

.drpdown-options {
  height: 3vh;
  width: 10vw;
  margin-left: 2em;
}

.options {
  height: 4vh;
  width: 5vw;
  margin: 1em 6em;
}

.dest-options {
  height: 4vh;
  width: 16vw;
  margin: 1em 1.5em;
}

.submit-button {
  background-color: $tan;
  height: 4vh;
  width: 12vw;
  grid-row: 6;
  margin: 1em 3em;
  border-radius: .6em;
  border-width: 0;
}

/* ****** MAIN AREA ****** */

.main-area {
  background-color: $tan;
}

@import "media";
